*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(lolbg2.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
   
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #c5ac1e;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #043277;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
 
.title{
    text-align: center;
    color: gold;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.lol{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.p{
    color: gold;
    margin-bottom: 15px;
    margin-left: 15px;
}
.p1{
    color: white;
    margin: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.role {
    margin-left: 30px;
    color: gold ;
}
 
.intro{
    margin-left: 15px;
    color: gold;
}
 
.p2 {
    margin-left: 15px;
    color: white;
    margin-bottom: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
